include mixins
doctype html
html
    head
        title Hackney Swingers Club
        +head-meta()
        link( rel='stylesheet', type='text/css', href='/css/all.css' )
        script( type="text/javascript", src="http://fast.fonts.net/jsapi/199416f8-3a78-4680-9537-2a093ebebbbe.js" )
    body
        .constrain-width.center    
            h1 Hackney
                br
                | Swingers
                br
                | Club

            :markdown
                ## About the Club

                A group of like minded artists, designers and techologists who get together and get it on.

                ### Founders & 2015 Membership

                + [Ross Cairns](http://rosscairns.com/)
                + [Jonty Craig](http://www.batstudio.co.uk/)
                + [David Di Duca](http://www.batstudio.co.uk/)
                + [Stefan Dzisiewski-Smith](http://www.bycgwtsf.com/)
                + [Adam Heslop](http://cargocollective.com/adamheslop/)
                + [Jon Hodges](http://cargocollective.com/wideandgym/)
                + [Tommaso Lanza](http://tommasolanza.com/)
                + [Vincent Rebers](http://say-nono.com/)
                + [Martin Robinson](http://www.martinerlamrobinson.co.uk/)

                ### Sponsors & Associates

                + [The Workers](http://www.theworkers.net/)
                + [BAT Studio](http://www.batstudio.co.uk/)

                ## Contact & Enqiures

                [Webmaster](mailto:?)

            .spacer-v
            
        //- Scripts
        +core-scripts()
